
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-lastfm-squared:before { content: '\f203'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */